@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.hidden {
    visibility: hidden;
}
#icon{
    display: block;
    margin-left: auto;
    padding-right: 55px;
    padding-top: 7px;
    z-index: 0;
    width: 30px;
    float: right;
    align-items: right;
    justify-content: right;
    align-content: right;
    display: flex;
}

img {
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
    background-size: cover;
}

#weather{
    display: grid;
    align-items: right;
    justify-content: right;
    text-align: right;
    color: rgba(255, 255, 255, 0.80);
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

#weather span:first-child{
    font-size: 1.5rem;
}

#weather span:last-child{
    font-size: 1rem;
}

#clock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11rem;
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    padding: 0;
}

#name-question {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.80);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

#greeting {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.80);
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

#todo-question {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Roboto', sans-serif;
}

#todo-form, #login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#todo-list {
    display: grid;
    align-content: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}


input, textarea {
    text-align: center;
    color: aliceblue;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    border: 0;
    outline: 0;
    background: transparent;
    width: 20rem;
    border-bottom: 1.5px solid white;
    background-color: transparent;
    resize: none;
    outline: none;
}

#quote {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.80);
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

button{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
